.flex-container{
    display: flex;
}

.left{
    border: 2px;
    border-style: dashed;
    border-color: blue;
    width: 500px;
    height: 800px;
    background-color: white;
    

}


.right{
    border: 2px;
    border-style: dashed;
    border-color: blue;
    width: auto;
    height: auto;
    background-color: white;

}

img{
    height: 150px;
    width: 150px;
    margin: 10px 10px 10px 10px;
}